
.storeLocation {
    
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    margin: 2rem;
  }
  
  
  .addStore {
    display: flex;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    justify-content: center;
 
}