
.storeLocation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
  }
  
  
  .storeLocations {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
 
}