
.storeLocation {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
  }
  
  
  .addStore {
    display: flex;
 
    margin: 1em;
    padding: 1em;
    justify-content: center;
    flex-direction: column;
 
}