.mainContainer {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
}


.dataContainer {
    padding: 2rem;
    flex: 4;
}
.listContainer {
    padding-top: 3rem;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
}

.links {
    flex: 1;
    margin: 2rem;
}

.listDisplay {
    flex: 1;
}

.logo{
    justify-content: center;
}
