.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}


.dataContainer {
    padding: 2rem;
    flex: 1 1;
    display: flex;
    justify-content: center;
}
.listContainer {
    padding-top: 3rem;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.links {
    margin: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.listDisplay {
 
    flex: 1 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 21px;
}


 .nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: column;
        align-content: center;
 }
    
    
